/*================================================================================
        Item Name: Materialize - Material Design Admin Template
        Version: 5.0
        Author: PIXINVENT
        Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

a#picker {
    color: #00acc1;
}

a.add-btn-new{
    background: #fff;
    color: #00acc1;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 34px;
    display: block;
    padding: 0 10px;
}


.login-btn .btn {
    background: #cc5300;
}

.login-btn .btn {
    background: #cc5300;
}

.logoWrapper {
    position: absolute;
    left: 20px;
    top: 40px;
    /*display: none;*/
}
.doughnut-chart-status{
    top:-120px;
}
li.First:before{
    background: #03a9f4 ;
}
li.Second:before{
    background: #ab47bc;
}
li.Third:before{
    background: #2b791d;
}
li.Four:before{
    background: #d67714;
}
li.Five:before{
    background: #e826d9;
}
li.Six:before{
    background: #f7104f;
}   
li.Seven:before{
    background: #d67714;
}
li.Eight:before{
    background: #e826d9;
}
li.Nine:before{
    background: #f7104f;
} 
li.Ten:before{
    background: #5946bf;
}
li.Eleven:before{
    background: #bb489d;
}
li.Twelve:before{
    background: #2b791d;
}
span.dtr-title{
    padding-left: 30px;
}

.btn-success {
    background-color: #78CD51;
    border-color: #78CD51;
    color: #FFFFFF;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.switch label input[type=checkbox]:checked + .lever:after{
    background-color: #19b0d7 !important;
}
.switch label input[type=checkbox]:checked + .lever{
    background-color: #8fefe2 !important;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index:9999;
}
#progress{
    display:none;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #26a69a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #26a69a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    &.valid + label::after,
    &.invalid + label::after,
    &:focus.valid + label::after,
        &:focus.invalid + label::after {
        white-space: pre;
    }
    &.empty {
        &:not(:focus).valid + label::after,
            &:not(:focus).invalid + label::after {
            top: 2.8rem;

        } 
    }
}

.select2-search__field
{
    height: 25px !important;
}
.select2-container{
    margin-bottom: 20px;
}

.daterangepicker{
    z-index: 99999;
}

.daterangepicker {
    z-index: 99999 !important;
}

.undermaintenance-bg {
    background: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.undermaintenance-bg img {
    width: 80%;
    margin: 30px 0 10px;
}

.undermaintence-text {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.undermaintence-text ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

.undermaintence-text ul li {
    list-style: disc;
}

a.header-maintenance {
    opacity: 0.7;
    font-size: 14px;
    margin: 0 auto;
    width: 50%;
    line-height: 25px;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color:#EF6000;
    padding:5px 10px;
    position: relative;
    z-index: 8;
    left: 30px;
    display: block;
}

table.dataTable>tbody>tr.child span.dtr-title{
    color: #333;
    padding-right: 15px;
}

