     .monthpicker.monthpicker--open{
                z-index: 9999;
            }
            .monthpicker:not(input) {
                background-color: #fff;
                padding: 10px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                position: absolute;
                left: 0;
                top: 0;
                -webkit-animation: monthpicker-open 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                -moz-animation: monthpicker-open 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                animation: monthpicker-open 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .monthpicker:not(input).monthpicker--closing {
                -webkit-animation: monthpicker-closing 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                -moz-animation: monthpicker-closing 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                animation: monthpicker-closing 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .monthpicker:not(input):after {
                display: block;
                content: "";
                clear: both;
            }
            .monthpicker:not(input) .monthpicker-previous, .monthpicker:not(input) .monthpicker-next {
                margin: 8px auto;
                background: none;
                width: 16px;
                height: 16px;
                display: block;
                border: solid 5px #5ad;
                cursor: pointer;
            }
            .monthpicker:not(input) .monthpicker-previous:hover, .monthpicker:not(input) .monthpicker-next:hover {
                border-color: #6be;
            }
            .monthpicker:not(input) .monthpicker-previous:active, .monthpicker:not(input) .monthpicker-next:active {
                border-color: #27a;
            }
            .monthpicker:not(input) .monthpicker-previous {
                border-right-width: 0;
                border-bottom-width: 0;
                -webkit-transform: translateY(8px) rotateZ(45deg);
                -moz-transform: translateY(8px) rotateZ(45deg);
                transform: translateY(8px) rotateZ(45deg);
            }
            .monthpicker:not(input) .monthpicker-next {
                border-left-width: 0;
                border-top-width: 0;
                -webkit-transform: translateY(-8px) rotateZ(45deg);
                -moz-transform: translateY(-8px) rotateZ(45deg);
                transform: translateY(-8px) rotateZ(45deg);
            }
            .monthpicker:not(input) .monthpicker-year, .monthpicker:not(input) .monthpicker-month {
                width: 50%;
                min-width: 60px;
                float: left;
                text-align: center;
                opacity: 0;
            }
            .monthpicker:not(input).monthpicker--open .monthpicker-year, .monthpicker:not(input).monthpicker--open .monthpicker-month {
                opacity: 1;
                -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
                -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
            }
            .monthpicker:not(input).monthpicker--closing .monthpicker-year, .monthpicker:not(input).monthpicker--closing .monthpicker-month {
                margin-top: -20px;
                -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            }

            @keyframes monthpicker-open {
                0% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
                100% {
                    max-height: 110px;
                    opacity: 1;
                }
            }
            @-moz-keyframes monthpicker-open {
                0% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
                100% {
                    max-height: 110px;
                    opacity: 1;
                }
            }
            @-webkit-keyframes monthpicker-open {
                0% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
                100% {
                    max-height: 110px;
                    opacity: 1;
                }
            }
            @keyframes monthpicker-closing {
                0% {
                    max-height: 110px;
                    opacity: 1;
                }
                100% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
            }
            @-moz-keyframes monthpicker-closing {
                0% {
                    max-height: 110px;
                    opacity: 1;
                }
                100% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
            }
            @-webkit-keyframes monthpicker-closing {
                0% {
                    max-height: 110px;
                    opacity: 1;
                }
                100% {
                    max-height: 0px;
                    padding: 0 10px;
                    opacity: 0;
                }
            }
